html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
/*background-color: #e8effc; для картинок*/

/*.featured-products::after {
content: "";
display: block;
width: 164px;
margin: 0 auto;
border-bottom: 8px solid #1abc9c;
} - полосочка под заголовком*/
body {
 font-family: 'Roboto', sans-serif; 
 color: #555252;
 font-size: 14px;
 line-height: 1,5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.site-logo {
display: inline-block;
font-family: 'Roboto';
font-size: 30px;
font-weight: lighter;
text-decoration: none;
text-transform: uppercase;
color: #555252;
}

.site-logo::first-letter {
color: #1abc9c;
font-family: 'Roboto';
font-weight: bold;
}

.site-navigation {
display: inline-block;
float: right;
margin: 0;
padding: 0;
}

.site-navigation li {
display: inline-block;

}
.site-navigation li:not(:last-child) {
  margin-right: 34px;
}

.site-navigation a {
display: block;
color: #555252;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-weight: bold;
text-decoration: none;
text-transform: uppercase;

}
.page-nav {
  padding: 78px 0 104px 0;
}

/*.site-navigation {
  padding: 0;
  margin: 0;
  text-align: center;
}

.site-navigation li {
  display: inline-block;
}

.site-navigation li:not(:last-child) {
  margin-right: 106px;
}

.site-navigation a {
  display: block;
  color: #626262;
  text-decoration: none;
  text-transform: uppercase;
  }*/

.site-navigation a:hover, 
.site-navigation a:focus {
  color: #1abc9c;
}
.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
.info {
  padding-bottom: 70px;
}
.info-block {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

/*вот здесь вопрос: формула срабатывает на 3 и на 5 блок li. а не на 5 и 6. Почему и как это исправить?*/



.info-block-item {
  width: 420px;
  display: inline-block;
  margin-right: 60px;
  margin-bottom: 136px;
  font-size: 14px;
}

.info-block-item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.info-block-item:nth-child(2n) {
  margin-right: 0;
  /*margin-bottom: 136px;*/
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.info-subtitle {
  font-size: 14px;
  color: #c8c3b8;
  font-weight: lighter;
  text-transform: uppercase;
  font-family: ubuntu;
  margin: 0;
  margin-bottom: 30px;
}

.info-title {
  margin: 0:
  margin-bottom: 40px;
}

.info-block-item h3 {
  font-size: 30px;
  margin-bottom: 40px;
  text-align: left;
}

.info-p {
 margin: 0;
 padding-right: 4px;
 line-height: 1.5;
}

.button {
  display: block;
  border: 1px solid #111111;
  width: 166px;
  padding: 20px 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  background-color: #white;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #f1eee7; 
}
